{{! adding this alert on homepage when student is deleted }}

{{#if removedStudent}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Student has been successfully removed
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

{{! home page  }}
<div class="row">
  <div class="col-6"><h1>Students</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a
      href="/addstudent"
      type="button"
      class="btn btn-warning align-self-center"
    >+ add new student</a>
  </div>
</div>

<table class="table table-bordered border-dark table-info table-striped">
  <thead class="thead-dark margin: 2rem">
    <tr>
      <th scope="col">Stu. ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Parent's Email</th>
      <th scope="col">Parent's Phone</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">

    {{#each rows}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td class="text-center">

          <a
            href="/viewstudent/{{this.id}}"
            type="button"
            class="btn btn-light btn-small"
          ><i class="far fa-eye"></i>
            View</a>
          <a
            {{! linking the stu.ID with edit button }}
            href="/editstudent/{{this.id}}"
            type="button"
            class="btn btn-light btn-small"
          ><i class="far fa-edit"></i>
            Edit</a>
          <a
            href="/{{this.id}}"
            type="button"
            class="btn btn-light btn-small"
          ><i class="fas fa-user-minus"></i>
            Delete</a>

        </td>
      </tr>
    {{/each}}
  </tbody>
</table>